# Imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.mode.chained_assignment = None

# Load data

In [ ]:
index_cols = ['year', 'sex', 'age_band', 'geo_code']

ew = pd.read_csv('../projections/combined/england_wales_final.csv').set_index(index_cols)
sc = pd.read_csv('../projections/combined/scotland_final.csv').set_index(index_cols)
ni = pd.read_csv('../projections/combined/northern_ireland_final.csv').set_index(index_cols)

# Country-specific tables

## England & Wales

In [4]:
ew.groupby('year').sum().apply(lambda x: x/x.sum(), axis='columns').style.format('{:.1%}')

## Scotland

In [5]:
sc.groupby('year').sum().apply(lambda x: x/x.sum(), axis='columns').style.format('{:.1%}')

## Northern Ireland

In [6]:
ni.groupby('year').sum().apply(lambda x: x/x.sum(), axis='columns').style.format('{:.1%}')

# Map to top-level categories

## England & Wales

In [7]:
ew_cat1 = pd.DataFrame()
ew_cat1['Christian'] = ew['Christian']
ew_cat1['No religion'] = ew['No religion']
ew_cat1['Not answered'] = ew['Not answered']
ew_cat1['Other religions'] = ew.iloc[:, [0,2,3,4,7,8]].sum(axis='columns')

In [8]:
ew_cat1.groupby('year').sum().apply(lambda x: x/x.sum(), axis='columns').style.format('{:.1%}')

## Scotland

In [9]:
sc_cat1 = pd.DataFrame()
sc_cat1['Christian'] = sc.loc[:, ['Church of Scotland', 'Other Christian', 'Roman Catholic']].sum(axis='columns')
sc_cat1['No religion'] = sc['No religion']
sc_cat1['Not answered'] = sc['Religion not stated']
sc_cat1['Other religions'] = sc.iloc[:, [0,2,3,4,7,10]].sum(axis='columns')

In [10]:
sc_cat1.groupby('year').sum().apply(lambda x: x/x.sum(), axis='columns').style.format('{:.1%}')

In [11]:
sc_cat2 = pd.DataFrame()
sc_cat2['Catholic'] = sc['Roman Catholic']
sc_cat2['Protestant'] = sc[['Church of Scotland', 'Other Christian']].sum(axis='columns')
sc_cat2['No religion'] = sc['No religion']
sc_cat2['Not answered'] = sc['Religion not stated']
sc_cat2['Other religions'] = sc.iloc[:, [0,2,3,4,7,10]].sum(axis='columns')

In [12]:
sc_cat2.groupby('year').sum().apply(lambda x: x/x.sum(), axis='columns').style.format('{:.1%}')

## Northern Ireland

In [13]:
ni_cat1 = pd.DataFrame()
ni_cat1['Christian'] = ni.loc[:, ['Catholic', 'Church of Ireland', 'Methodist', 'Other Christian', 'Presbyterian']].sum(axis='columns')
ni_cat1['No religion'] = ni['No religion']
ni_cat1['Not answered'] = ni['Not stated']
ni_cat1['Other religions'] = ni['Other religions']

In [14]:
ni_cat1.groupby('year').sum().apply(lambda x: x/x.sum(), axis='columns').style.format('{:.1%}')

In [15]:
ni_cat2 = pd.DataFrame()
ni_cat2['Catholic'] = ni['Catholic']
ni_cat2['Protestant'] = ni.loc[:, ['Church of Ireland', 'Methodist', 'Other Christian', 'Presbyterian']].sum(axis='columns')
ni_cat2['No religion'] = ni['No religion']
ni_cat2['Not answered'] = ni['Not stated']
ni_cat2['Other religions'] = ni['Other religions']

In [16]:
ni_cat2.groupby('year').sum().apply(lambda x: x/x.sum(), axis='columns').style.format('{:.1%}')

# UK Combined

In [17]:
uk_cat1 = pd.concat([ew_cat1, sc_cat1, ni_cat1])

In [18]:
uk_cat1.shape

(190916, 4)

In [19]:
uk_cat1.groupby('year').sum().apply(lambda x: x/x.sum(), axis='columns').style.format('{:.1%}')

# Add generation

In [20]:
uk_cat1_gen = uk_cat1.reset_index()

uk_cat1_gen['end_yob'] = uk_cat1_gen['year'] - uk_cat1_gen['age_band'].str.split('-').str[0].str[:2].astype(int)

gen_bounds = [0, 1946, 1967, 1982, 1997, 2012, 2100]
gen_labels = ['silent', 'boomers', 'genX', 'millennials', 'genZ', 'alpha']

uk_cat1_gen['generation'] = pd.cut(uk_cat1_gen['end_yob'], bins=gen_bounds, labels=gen_labels)

uk_cat1_gen = uk_cat1_gen.drop(columns=['age_band','end_yob']).set_index(['year', 'sex', 'generation', 'geo_code'])

In [21]:
# uk_cat1_gen.groupby(['generation', 'year'], observed=True).sum().apply(lambda x: x/x.sum(), axis='columns').style.format('{:.1%}')

# Add country

In [22]:
uk_cat1 = uk_cat1.reset_index()
uk_cat1['country'] = uk_cat1['geo_code'].str[0].map({'E': 'England', 'W': 'Wales', 'S': 'Scotland', '9': 'Northern Ireland'})

In [23]:
cat1_cols = ['Christian','No religion','Not answered','Other religions']

# Datawrapper charts

## Overall share progression line chart

In [24]:
(uk_cat1.groupby('year')[cat1_cols].sum().apply(lambda x: x/x.sum(), axis='columns') * 100).to_csv('line_chart.csv')

## Arrow plot

In [25]:
gen_map = {
    'silent': 'Silent Generation',
    'boomers': 'Baby Boomers',
    'genX': 'Generation X',
    'millennials': 'Millennials',
    'genZ': 'Generation Z'
}

In [26]:
(uk_cat1_gen.groupby(['year', 'generation', 'sex'], observed=True)[cat1_cols].sum()
 .apply(lambda x: x/x.sum(), axis=1)['No religion']
 .unstack('year')[[2011, 2021, 2031]] * 100).reset_index().replace({'generation': gen_map}).to_csv('arrow_plot.csv', index=False)

/var/folders/ck/yxzr5lpj1896cp_ybtd8xv640000gn/T/ipykernel_66839/1543367859.py:3: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  .unstack('year')[[2011, 2021, 2031]] * 100).reset_index().replace({'generation': gen_map}).to_csv('arrow_plot.csv', index=False)

## Year of birth cohort dot plot

In [27]:
uk_cat1['end_yob'] = uk_cat1['year'] - uk_cat1['age_band'].str.split('-').str[0].str[:2].astype(int)
uk_cat1['yob_band'] = np.where(uk_cat1['age_band'].str[2] == '+', 'pre-' + uk_cat1['end_yob'].astype(str), (uk_cat1['end_yob'] - 4).astype(str).str.cat(uk_cat1['end_yob'].astype(str), '-'))
uk_cat1 = uk_cat1.drop(columns=['end_yob'])

In [28]:
uk_cat1['yob_band'] = np.where(uk_cat1['yob_band'].str[-4:].astype(int) < 1947, 'pre-1947', uk_cat1['yob_band'])

In [29]:
uk_cat1['yob_band'] = pd.Categorical(
    uk_cat1['yob_band'],
    categories=sorted(uk_cat1['yob_band'].unique(), key=lambda x: x[-4:])
)

In [30]:
for_yob_band_plot = uk_cat1.loc[uk_cat1['year'].isin([2011,2021,2031])].groupby(['year', 'yob_band'], observed=True)[cat1_cols].sum().apply(lambda x: x/x.sum(), axis=1)['No religion'].unstack('year') * 100

In [31]:
for_yob_band_plot.to_csv('cohort_dotplot.csv')

## Chloropleth

In [32]:
out = uk_cat1.groupby(['year', 'geo_code'])[cat1_cols].sum().apply(lambda x: x/x.sum(), axis='columns').loc[[2011, 2021, 2025, 2031]].unstack('year')
out.columns = [f'{i[0]}_{i[1]}' for i in out.columns.to_flat_index()]
# out

In [33]:
out_pct = out * 100

In [34]:
geo_lookup = pd.read_csv('geo_lookup.csv', index_col='geo_code')

In [35]:
out_pct.join(geo_lookup).to_csv('chloropleth.csv')